/*
 * Code derived under CC BY-SA license from:
 * - TNOPediA
 * 
 * Từ BKDatabase - Blutiges Kareuz: The Decline of The Millennium | Database
 * The Great Trial Await...
 *
*/
:root {
    --bg: #061016;
    --teal: #4DB6B0;
    --red: #E08282;
    --color-base: #4DB6B0;
    --color-base-fixed: #4DB6B0;
    --color-base--hover: #4DB6B0;
    --color-emphasized: #061016;
    --color-subtle: #3f647b;
    --color-placeholder: #538781;
    --color-disabled: #6ea19c;
    --color-inverted: #4DB6B0;
    --color-inverted-fixed: #4DB6B0;
    --color-progressive: #85EA8E;
    --color-progressive--hover: #85EA8E;
    --color-progressive--active: #D27677;
    --color-progressive--focus: #85EA8E;
    --color-destructive: #D27677;
    --color-destructive--hover: #D27677;
    --color-destructive--active: #D27677;
    --color-destructive--focus: #D27677;
    --color-visited: #D27677;
    --color-destructive--visited: #D27677;
    --color-error: #D27677;
    --color-warning: #F6FF7D;
    --color-success: #85EA8E;
    --color-notice: #F6FF7D;
    --color-content-added: #85EA8E;
    --color-content-removed: #D27677;
    --filter-invert-icon: 0;
    --filter-invert-primary-button-icon: 1;
    --box-shadow-color-base: #4DB6B0;
    --box-shadow-color-progressive--active: #85EA8E;
    --box-shadow-color-progressive--focus: #85EA8E;
    --box-shadow-color-progressive-selected: #85EA8E;
    --box-shadow-color-progressive-selected--hover: #85EA8E;
    --box-shadow-color-destructive--focus: #85EA8E;
    --box-shadow-color-inverted: #4DB6B0;
    --box-shadow-color-transparent: transparent;
    --background-color-base: #061016;
    --background-color-base-fixed: #061016;
    --background-color-neutral: #061016;
    --background-color-neutral-subtle: #061016;
    --background-color-interactive: #eaecf0;
    --background-color-interactive-subtle: #f8f9fa;
    --background-color-disabled: #c8ccd1;
    --background-color-disabled-subtle: #eaecf0;
    --background-color-inverted: #061016;
    --background-color-progressive: #85EA8E;
    --background-color-progressive--hover: #85EA8E;
    --background-color-progressive--active: #85EA8E;
    --background-color-progressive--focus: #85EA8E;
    --background-color-progressive-subtle: #85EA8E;
    --background-color-destructive: #D27677;
    --background-color-destructive--hover: #D27677;
    --background-color-destructive--active: #D27677;
    --background-color-destructive--focus: #D27677;
    --background-color-destructive-subtle: #D27677;
    --background-color-error: #D27677;
    --background-color-error--hover: #D27677;
    --background-color-error--active: #D27677;
    --background-color-error-subtle: #cd9899;
    --background-color-warning-subtle: #fdf2d5;
    --background-color-success-subtle: #dff2ea;
    --background-color-notice-subtle: #eaecf0;
    --background-color-content-added: #85EA8E;
    --background-color-content-removed: #D27677;
    --background-color-transparent: transparent;
    --background-color-backdrop-light: rgba(255, 255, 255, 0.65);
    --background-color-backdrop-dark: rgba(0, 0, 0, 0.65);
    --background-color-button-quiet--hover: rgba(0, 24, 73, 0.027);
    --background-color-button-quiet--active: rgba(0, 24, 73, 0.082);
    --background-color-input-binary--checked: #4DB6B0;
    --background-color-tab-list-item-framed--hover: rgba(255, 255, 255, 0.3);
    --background-color-tab-list-item-framed--active: rgba(255, 255, 255, 0.65);
    --opacity-icon-base: 0.87;
    --opacity-icon-base--hover: 0.74;
    --opacity-icon-base--selected: 1;
    --opacity-icon-base--disabled: 0.51;
    --opacity-icon-placeholder: 0.51;
    --opacity-icon-subtle: 0.67;
    --border-color-base: #a2a9b1;
    --border-color-subtle: #c8ccd1;
    --border-color-muted: #dadde3;
    --border-color-interactive: #72777d;
    --border-color-disabled: #c8ccd1;
    --border-color-inverted: #fff;
    --border-color-progressive: #4DB6B0;
    --border-color-progressive--hover: #4DB6B0;
    --border-color-progressive--active: #4DB6B0;
    --border-color-progressive--focus: #4DB6B0;
    --border-color-destructive: #D27677;
    --border-color-destructive--hover: #D27677;
    --border-color-destructive--active: #D27677;
    --border-color-destructive--focus: #4DB6B0;
    --border-color-error: #D27677;
    --border-color-error--hover: #D27677;
    --border-color-warning: #c3c12c;
    --border-color-success: #2ebf99;
    --border-color-notice: #54595d;
    --border-color-content-added: #a3d3ff;
    --border-color-content-removed: #ffe49c;
    --border-color-transparent: transparent;
    --border-color-divider: #a2a9b1;
    --outline-color-progressive--focus: #4DB6B0;
    --color-link-red: var(--color-destructive);
    --color-link-red--hover: var(--color-destructive--hover);
    --color-link-red--active: var(--color-destructive--active);
    --color-link-red--focus: var(--color-destructive--focus);
    --color-link-red--visited: var(--color-destructive--visited);
    --border-color-input--hover: var(--border-color-interactive);
    --border-color-input-binary: var(--border-color-interactive);
    --border-color-input-binary--hover: var(--border-color-progressive--hover);
    --border-color-input-binary--active: var(--border-color-progressive--active);
    --border-color-input-binary--focus: var(--border-color-progressive--focus);
    --border-color-input-binary--checked: var(--border-color-progressive);
    --color-base--subtle: #4DB6B0;
}

/* ALDRICH FONT */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url(https://static.miraheze.org/tnowiki/8/83/Aldrich.woff2) format('woff2');
}

/* PAGE WIDENING */
.mw-page-container {
  max-width:unset;
}
.mw-body {
  grid-template-columns: minmax(0,1fr) min-content;
}

.vector-header-container .mw-header {
    width: 100%;
    min-height: 3.125rem;
    background-color: var(--background-color-base);
    min-width: 31.25em;
    max-width: 500.00rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}
.vector-column-start {
    margin-top: 0.0rem;
    border-top: 1px solid transparent;
}
.vector-feature-limited-width-clientpref-0 .mw-page-container {
    max-width: none;
}

/* BACKGROUND COLOR */
.vector-feature-zebra-design-disabled #vector-main-menu-pinned-container .vector-main-menu,
.vector-feature-zebra-design-disabled .vector-toc {
  background-color: var(--bg);
}

/* Thermerite testing here: By removing the bgcolor proprety from this class, the wiki will read the other mw-page-container class FROM the CSS instead of the skin */
@media screen {
  .vector-feature-zebra-design-disabled .mw-page-container {
    position: relative;
    z-index: 0;
    padding-top: 0.05px;
    padding-bottom: 0.05px;
    max-width: 99.75em;
    min-width: 31.25em;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: var(--bg);
    box-sizing: border-box
  }

  .vector-feature-zebra-design-disabled body {
    background-color: var(--bg);
    color: #202122
  }
  
  .vector-pinned-container {
  	background-color: var(--bg);
  }

  /*Category Box */
  .catlinks {
    background-color: var(--bg);
    border: 1px solid #91e2dd;
  }

  /*Namespace Font*/
  .mw-body h1,
  .mw-body-content h1,
  .mw-body-content h2 {
    font-family: 'Aldrich';
  }

  /* Image Caption Background */
  figure[typeof~="mw:File/Thumb"]>figcaption,
  figure[typeof~="mw:File/Frame"]>figcaption {
    border: 0px solid #c8ccd1;
    background-color: var(--bg);
  }
  
  /*Babel*/
 .mw-content-ltr .mw-babel-wrapper {
 	background-color: var(--bg);
 	border: 1px solid var(--teal);
 }

}

.mw-babel-box table {
    color: black;
}

/* Visual Editor */
.ve-ui-mwSaveDialog-options {
  background-color: var(--bg);
}

.oo-ui-fieldsetLayout {
  background-color: var(--bg);
}

.oo-ui-indexLayout-stackLayout>.oo-ui-panelLayout {
  background-color: var(--bg);
}

.oo-ui-window-head,
.oo-ui-window-foot {
  background-color: var(--bg);
}

.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget .oo-ui-labelElement-label {
  color: white;
}

.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
  background-color: var(--bg);
}

.ve-ui-contextItem {
  background-color: var(--bg);
}

.oo-ui-tabSelectWidget-framed {
  background-color: var(--bg);
}

.oo-ui-popupWidget-popup {
  background-color: var(--bg);
  color: white;
}

.diff-deletedline .diffchange {
  background: #a47300;
}

.diff-addedline .diffchange {
  background: #00488c;
}

.oo-ui-menuLayout.oo-ui-menuLayout-showMenu.oo-ui-menuLayout-before>.oo-ui-menuLayout-menu {
  background-color: var(--bg);
}

.oo-ui-menuLayout.oo-ui-menuLayout-showMenu.oo-ui-menuLayout-before>.oo-ui-menuLayout-content {
  background-color: var(--bg);
}

.ve-ui-mwTransclusionDialog-single-transclusion .ve-ui-mwTransclusionOutlineWidget .ve-ui-mwTransclusionOutlinePartWidget .ve-ui-mwTransclusionOutlineTemplateWidget-sticky {
  background-color: var(--bg);
}

.ve-ui-mwSaveDialog-license {
  color: white;
}

.oo-ui-panelLayout-padded {
  background-color: var(--bg);
}

/* File things */

#filetoc {
  background-color: var(--bg);
}

.mw_metadata td {
  background-color: var(--bg);
}

.mw_metadata th {
  background-color: var(--bg);
}

table.commons-file-information-table,
.fileinfotpl-type-information,
.fileinfotpl-type-artwork {
  background-color: var(--bg);
}

.mw-content-ltr.mw-highlight-lines pre,
.mw-content-ltr.content .mw-highlight-lines pre {
  box-shadow: inset 2.75em 0 0 var(--bg);
}

.mw-datatable th {
  background-color: var(--bg);
}

.mw-datatable td {
  background-color: var(--bg);
}

.mw-datatable tr:hover td {
  background-color: var(--bg);
}

.vector-feature-zebra-design-disabled .vector-dropdown .vector-dropdown-content {
  position: absolute;
  top: 100%;
  left: -1px;
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  margin: 0;
  padding: 4px 0;
  z-index: 50;
  background-color: #211e1e;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  transition-property: opacity;
  transition-duration: 100ms;
  width: max-content;
  max-width: 200px;
}

.vector-dropdown .vector-dropdown-content {
  background-color: var(--bg);
  border: 1px solid var(--teal);
}

/* Overrides default mediawiki colors and applies the dark bg and white text */
body,
h1,
h2,
h3,
h4,
h5,
h6,
.vector-pinnable-header-label,
.vector-feature-page-tools-enabled .vector-pinnable-element .vector-menu-heading,
.vector-dropdown-content .vector-menu-heading,
.footer,
.footer-navigation,
.footer-info,
.mw-footer li,
.mw-page-container,
.vector-feature-page-tools-enabled #vector-main-menu-pinned-container .vector-main-menu {
  background-color: var(--bg);
  color: white;
  font-family: 'Aldrich', sans-serif;
}

.mw-page-title-main {
  font-family: 'Aldrich', sans-serif;
}

/*Bullet list coloring*/
::marker {
    color: var(--teal);
}

ul {
    list-style-image: none;
}


/*Infobox collapsable stylying*/
pre,
.mw-code {
  padding: 0;
  white-space: pre-wrap;
  overflow-x: hidden;
  word-wrap: break-word;
}

mw-collapsible-content,
pre,
code,
.mw-code {
  background-color: #212b2a00;
  color: #c9c9c9;
  border: 1px solid var(--teal);
}

/* Make this text white */
#firstHeadingTitle .mw-page-title-main,
.vector-sticky-header-context-bar-primary .mw-page-title-main,
figcaption {
  color: white;
  background-color: var(--bg);
}

/* PREVIEW */
.mwe-popups .mwe-popups-extract {
	background-color: var(--bg);
}
.mwe-popups-container {
	background-color: var(--bg);
}
.mwe-popups .mwe-popups-container {
	background-color: var(--bg);
}
.mwe-popups {
  background: var(--bg);
}

/* TABBER */
.tabber__header {
	border-bottom: 3px solid #3FB9BE;
	box-shadow: #3FB9BE; }
.tabber__tab {
	padding: 0.4em 0.75em; }
.tabber {
	--tabber-color-progressive: var(--teal) !important; 
}
.tabber__tab[aria-selected="true"], .tabber__tab[aria-selected="true"]:visited {
	background: #3FB9BE;
	height: -2.5px;
	color: var(--bg) !important; }
.tabber__tab[aria-selected="true"]:hover {
	text-shadow: white;
	cursor: default; }
.tabber__indicator {
	background-color: var(--teal) !important;
}

/* SEARCH BOX */
.cdx-menu {
  background-color: var(--bg);
  border: 1px solid var(--teal);
}
.cdx-menu-item--enabled.cdx-menu-item--highlighted {
  background-color: var(--bg);
}


/* WIKITABLE */
.wikitable {
  background-color: var(--bg);
  color: #ffffff;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse
}

.wikitable>tr>th,
.wikitable>*>tr>th {
  background-color: #161616;
}

/* Change the color of all of the links and add a glow effect */
a {
  color: var(--teal) !important;
  text-shadow: 0 0 3px rgba(34, 200, 247, 0.8);
}

a.new {
  color: var(--red) !important;
  text-shadow: 0 0 3px rgba(224, 130, 130, 0.8);
}

indo

/*  */
.mw-normal-catlinks>ul>li>a,
.mw-normal-catlinks>a {
  color: var(--teal) !important;
}

/* Removes the fade effect from all elements */
*::after {
  display: none !important;
}

/* Slideshows or Slide Show buttons Stylying */
.oo-ui-buttonElement-frameless.oo-ui-iconElement>.oo-ui-buttonElement-button {
  min-width: 32px;
  min-height: 32px;
  border-color: #bfddff;
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
  padding-top: 2.14285714em;
  padding-left: 2.14285714em;
}

/* Table of Contents styles */
.vector-toc {
  background-color: var(--bg);
  border: 0px solid white;
}

/* Search bar styles */
.cdx-text-input__input,
.client-js .vector-search-box-vue .vector-typeahead-search .cdx-text-input__input {
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;	
	color: var(--teal);
}

.cdx-search-input__end-button,
.client-js .vector-search-box-vue .vector-typeahead-search .cdx-search-input__end-button {
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;	
	color: var(--teal) !important;
}
.mw-search-profile-tabs, #mw-searchoptions {
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;	
	color: var(--teal);
}
button {
  background-color: var(--bg);
  color: white;
}

.mw-ui-button {
  filter: invert(100%) !important;
}

.oo-ui-popup {
  background-color: var(--bg);
}

/* CUSTOM CURSOR */
body {
  cursor: url('/wiki/Special:FilePath/BKCursor.png'), pointer;
}
a:hover {
  cursor: url('/wiki/Special:FilePath/BKHover.png'), pointer;
}

/* SUBPAGE STYLE */
.subpage {
	padding: 10px 15px 8px 10px;
	margin: 5px 0;
	
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;
	
	display: flex;
	flex-flow: row nowrap;
	gap: 10px;
	
	/*in case any subpage template displays in a flex*/
	flex-basis: 400px;
	max-width: 400px;
}
.subpage>p { /*usually holds the img element*/
	margin: 0;
}
.subpage img {
	max-width: 100px !important;
	max-height: 100px !important;
}
.subpage>.textArea {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	gap: 5px;
}
.subpage>.textArea h3, .subpage>.textArea p {
	padding: 0;
	margin: 0;
    background-color: #0d2024;
}

/* Infobox template style */
.infobox {
  border: 1px solid var(--teal);
  border-spacing: 3px;
  background-color: #171D22;
  color: var(--teal);
  /* @noflip */
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  /* @noflip */
  float: right;
  /* @noflip */
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
}
.infobox caption {
  font-size: 125%;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
}
.infobox td,
.infobox th {
  vertical-align: top;
  /* @noflip */
  text-align: left;
}
.infobox.bordered {
  border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
  border: 1px solid var(--teal);
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
  border: 0;
}
.infobox.sisterproject {
  width: 20em;
  font-size: 90%;
}
.infobox.standard-talk {
  border: 1px solid var(--teal);
  background-color: var(--bg);
}
.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
  border: 1px solid var(--teal);
}

/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
  border: 0;
  border-top: 1px solid var(--teal);
  /* @noflip */
  border-right: 1px solid var(--teal);
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
  border: 0;
  /* @noflip */
  border-right: 1px solid var(--teal);
}

/* Styles for geography infoboxes, eg countries,
   country subdivisions, cities, etc.            */
.infobox.geography {
  border-collapse: collapse;
  line-height: 1.2em;
  font-size: 90%;
}

.infobox.geography td,
.infobox.geography th {
  border-top: 1px solid #a2a9b1;
  padding: 0.4em 0.6em 0.4em 0.6em;
}

.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {
  border-top: 1px solid #a2a9b1;
  padding: 0.4em 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedrow td,
.infobox.geography .mergedrow th {
  border: 0;
  padding: 0 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedbottomrow td,
.infobox.geography .mergedbottomrow th {
  border-top: 0;
  border-bottom: 1px solid #a2a9b1;
  padding: 0 0.6em 0.4em 0.6em;
}

.infobox.geography .maptable td,
.infobox.geography .maptable th {
  border: 0;
  padding: 0;
}

/* See: https://github.com/StarCitizenTools/mediawiki-extensions-TabberNeue/issues/46 */
.tabber__section pre {
  display: none;
}

/* Default style for navigation boxes */
.navbox {
  /* Navbox container style */
  box-sizing: border-box;
  border: 1px solid var(--teal);
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: center;
  padding: 1px;
  margin: 1em auto 0;
  /* Prevent preceding content from clinging to navboxes */
}

.navbox .navbox {
  margin-top: 0;
  /* No top margin for nested navboxes */
}

.navbox+.navbox {
  margin-top: -1px;
  /* Single pixel border between adjacent navboxes */
}

.navbox-inner,
.navbox-subgroup {
  width: 100%;
}

.navbox-group,
.navbox-title,
.navbox-abovebelow {
  padding: 0.25em 1em;
  /* Title, group and above/below styles */
  line-height: 1.5em;
  text-align: center;
}

th.navbox-group {
  /* Group style */
  white-space: nowrap;
  /* @noflip */
  text-align: right;
}

.navbox,
.navbox-subgroup {
  background-color: #151D23;
  /* Background color */
}

.navbox-list {
  line-height: 1.5em;
  border-color: #151D23;
  /* Must match background color */
}

/* cell spacing for navbox cells */
tr+tr>.navbox-abovebelow,
tr+tr>.navbox-group,
tr+tr>.navbox-image,
tr+tr>.navbox-list {
  /* Borders above 2nd, 3rd, etc. rows */
  border-top: 2px solid #151D23;
  /* Must match background color */
}

.navbox th,
.navbox-title {
  background-color: #151D23;
  /* Level 1 color */
}

.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup .navbox-title {
  background-color: #91E2DD;
  /* Level 2 color */
}

.navbox-subgroup .navbox-group,
.navbox-subgroup .navbox-abovebelow {
  background-color: #91E2DD;
  /* Level 3 color */
}

.navbox-even {
  background-color: #3B5263;
  /* Even row striping */
}

.navbox-odd {
  background-color: #151D23;
  /* Odd row striping */
}

.navbox .hlist td dl,
.navbox .hlist td ol,
.navbox .hlist td ul,
.navbox td.hlist dl,
.navbox td.hlist ol,
.navbox td.hlist ul {
  padding: 0.125em 0;
  /* Adjust hlist padding in navboxes */
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--teal);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--teal) !important;
}

::-webkit-scrollbar-thumb:active {
  background: var(--teal) !important;
}

/* Image frame fix */
figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:File/Frame"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"],
  [typeof~="mw:Image/Frame"],
  [typeof~="mw:Video/Frame"],
  [typeof~="mw:Audio/Frame"]),
figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:File/Frame"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"],
  [typeof~="mw:Image/Frame"],
  [typeof~="mw:Video/Frame"],
  [typeof~="mw:Audio/Frame"])> :is(a, span):first-child>*:first-child:not(.mw-broken-media),
div.thumbinner,
.gallerytext {
  background-color: #171D22;
  border: var(--teal);
  color: var(--theme-secondary);
}

figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:File/Frame"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"],
  [typeof~="mw:Image/Frame"],
  [typeof~="mw:Video/Frame"],
  [typeof~="mw:Audio/Frame"])>figcaption,
.thumbcaption {
  height: unset !important;
  min-width: 16ch;
  width: unset !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.gallerytext {
  background-color: #171D22;
  border: var(--teal);
  color: var(--teal);
  font: 400 .75rem/1.25rem var(--font-body-sans-serif);
  letter-spacing: .0333333333em;
}

figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"]):not([typeof~="mw:Error"])>a::after {
  content: unset;
}

.mw-parser-output .gallery {
  text-align: center;
}

.mw-parser-output .gallery .gallerybox {
  margin: 0 !important;
  vertical-align: middle;
  width: unset !important;
  width: -moz-min-content !important;
  width: min-content !important;
}

.mw-parser-output .gallery .thumb {
  height: unset !important;
  min-width: 16ch;
  width: unset !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.mw-content-ltr ul.gallery {
  margin: 10px;
}

li.gallerybox div.thumb {
  border: 1px var(--teal);
  background-color: rgb(var(--theme-background-secondary));
}
.infobox hr {
    background-color: var(--teal);
}
hr {
    background-color: #62b2c0;
}
/* BELOW ARE ALL OF THE ICONS ON THE WIKI */

/* Settings (Preview) */
.popups-icon--settings {
    background-color: var(--teal);
}
/* Help */
#mw-indicator-mw-helplink a {
    background-image: url(https://static.miraheze.org/tnowiki/0/01/HelpNotice.png);
}
/* Collapse */
.mw-ui-icon-wikimedia-expand {
    background-image: url(https://static.miraheze.org/tnowiki/3/38/Wikimediaexpand.png) !important;
}
.vector-icon.mw-ui-icon-wikimedia-expand {
    background-image: url(https://static.miraheze.org/tnowiki/3/38/Wikimediaexpand.png);
}
/* Alerts */
.vector-icon.mw-ui-icon-wikimedia-bell {
    background-image: url(https://static.miraheze.org/tnowiki/7/74/Notifications.png);
}

/* Notices */
.vector-icon.mw-ui-icon-wikimedia-tray {
    background-image: url(https://static.miraheze.org/tnowiki/4/46/Specialnotifications.png);
}

/* List */
.vector-icon.mw-ui-icon-wikimedia-watchlist {
    background-image: url(https://static.miraheze.org/tnowiki/6/6c/Watchpagelist.png);
}

/* User options */
.vector-icon.mw-ui-icon-wikimedia-userAvatar {
    background-image: url(https://static.miraheze.org/tnowiki/9/98/Userbutton.png);
}

/* Watchlist */
.vector-icon.mw-ui-icon-wikimedia-star {
    background-image: url(https://static.miraheze.org/tnowiki/e/ec/Watchpageempty.png);
}

/* Watchlist On */
.vector-icon.mw-ui-icon-wikimedia-unStar {
    background-image: url(https://static.miraheze.org/tnowiki/d/d7/Watchpagefull.png);
}

/* Watchlist Half */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/7d/Watchpagehalf.png);
}
.mw-header.vector-header {
	background-color: #031f1f;
}
/* Notification Progressive */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/79/Tnoprognotification.png);
}
/* Settings */
.vector-icon.mw-ui-icon-wikimedia-settings {
    background-image: url(https://static.miraheze.org/tnowiki/5/5e/Settingsbutton.png);
}
/* UserTalk */
.vector-icon.mw-ui-icon-wikimedia-userTalk {
    background-image: url(https://static.miraheze.org/tnowiki/b/bc/Usertalk.png);
}
/* Contributions */
.vector-icon.mw-ui-icon-wikimedia-userContributions {
    background-image: url(https://static.miraheze.org/tnowiki/7/70/Contributionsicon.png);
}
/* Flask */
.vector-icon.mw-ui-icon-wikimedia-labFlask {
    background-image: url(https://static.miraheze.org/tnowiki/e/e6/Erlenmeyerflask.png);
}
/* Logout */
.vector-icon.mw-ui-icon-wikimedia-logOut {
    background-image: url(https://static.miraheze.org/tnowiki/6/62/Logout.png);
}
/* Elipsis */
.vector-icon.mw-ui-icon-wikimedia-elipsis {
    background-image: url(https://static.miraheze.org/tnowiki/d/da/Three-dots.png);
}
/* Search */
.vector-icon.mw-ui-icon-wikimedia-search {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
.cdx-text-input__icon.cdx-text-input__start-icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
/* Search icon in both unfocused and focused */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue, .cdx-search-input .cdx-text-input__icon.cdx-text-input__start-icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}

/* Search field footer */
.cdx-typeahead-search__search-footer__icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Hide original svg icons for both */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue > *, .cdx-typeahead-search__search-footer__icon > * {
    display: none;
}
.cdx-button.cdx-button--icon-only.vector-limited-width-toggle {
	display: none;
}
/* Alerts */
.vector-icon.mw-ui-icon-wikimedia-bell {
    background-image: url(https://static.miraheze.org/tnowiki/7/74/Notifications.png);
}

/* Notices */
.vector-icon.mw-ui-icon-wikimedia-tray {
    background-image: url(https://static.miraheze.org/tnowiki/4/46/Specialnotifications.png);
}

/* List */
.vector-icon.mw-ui-icon-wikimedia-watchlist {
    background-image: url(https://static.miraheze.org/tnowiki/6/6c/Watchpagelist.png);
}

/* User options */
.vector-icon.mw-ui-icon-wikimedia-userAvatar {
    background-image: url(https://static.miraheze.org/tnowiki/9/98/Userbutton.png);
}

/* Watchlist */
.vector-icon.mw-ui-icon-wikimedia-star {
    background-image: url(https://static.miraheze.org/tnowiki/e/ec/Watchpageempty.png);
}

/* Watchlist On */
.vector-icon.mw-ui-icon-wikimedia-unStar {
    background-image: url(https://static.miraheze.org/tnowiki/d/d7/Watchpagefull.png);
}

/* Watchlist Half */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/7d/Watchpagehalf.png);
}

/* Notification Progressive */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/79/Tnoprognotification.png);
}
/* UserTalk */
.vector-icon.mw-ui-icon-wikimedia-userTalk {
    background-image: url(https://static.miraheze.org/tnowiki/b/bc/Usertalk.png);
}
/* Contributions */
.vector-icon.mw-ui-icon-wikimedia-userContributions {
    background-image: url(https://static.miraheze.org/tnowiki/7/70/Contributionsicon.png);
}
/* Flask */
.vector-icon.mw-ui-icon-wikimedia-labFlask {
    background-image: url(https://static.miraheze.org/tnowiki/e/e6/Erlenmeyerflask.png);
}
/* Logout */
.vector-icon.mw-ui-icon-wikimedia-logOut {
    background-image: url(https://static.miraheze.org/tnowiki/6/62/Logout.png);
}
/* Search */
.vector-icon.mw-ui-icon-wikimedia-search {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
.oo-ui-icon-search {
	background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
/* Search icon in both unfocused and focused */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue, .cdx-search-input .cdx-text-input__icon.cdx-text-input__start-icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}

/* Search field footer */
.cdx-typeahead-search__search-footer__icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Hide original svg icons for both */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue > *, .cdx-typeahead-search__search-footer__icon > * {
    display: none;
}
.vector-limited-width-toggle {
    display: none;
}
.vector-sticky-header-container {
    display: none !important;
}
.vector-pinnable-header-toggle-button {
    display: none !important;
}
.vector-icon.mw-ui-icon-wikimedia-speechBubbleAdd {
    background-image: url(https://static.miraheze.org/tnowiki/b/bc/Usertalk.png);
}
.vector-icon.mw-ui-icon-wikimedia-speechBubbleAdd-progressive {
    background-image: url(https://static.miraheze.org/tnowiki/b/bc/Usertalk.png);
}
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
	color: var(--teal);
	background-color: var(--bg);
	border-color: #4DB6Be;
}

/* WIKI EDITOR UI */
.mw-editfont-monospace {
	color: var(--teal);
	background-color: var(--bg);
}
.wikiEditor-ui .wikiEditor-ui-view {
  border: 1px solid var(--teal);
}
.wikiEditor-ui-toolbar .sections .section {
  border-top: 1px solid var(--teal);
}
.wikiEditor-ui .wikiEditor-ui-top {
  border-bottom: 1px solid var(--teal);
}
.wikiEditor-ui-toolbar {
  background-color: var(--bg);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
}
.wikiEditor-ui-toolbar .group {
	border-color: var(--teal);
}
.wikiEditor-ui-toolbar .group, .wikiEditor-ui-toolbar .section-secondary .group {
	border-color: var(--teal);
}
#msupload-div {
  background: var(--bg);
  border-top: 1px solid var(--teal);
}
#msupload-dropzone {
  border: 1px dashed var(--teal);
  color: var(--teal);
}
.ve-init-mw-editSwitch .oo-ui-toolbar-bar {
  background: var(--teal);
}
.editOptions {
  background-color: var(--bg);
  color: var(--teal);
  border: 1px solid var(--teal);
}
.oo-ui-checkboxInputWidget [type="checkbox"] + span {
  background-color: var(--bg);
  border-color: var(--teal);
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
}
.oo-ui-checkboxInputWidget [type="checkbox"] + span {
  background-color: var(--bg);
  border-color: var(--teal);
  border-style: solid;
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"]:checked + span {
  background-color: var(--bg);
  border-color: var(--teal);
}
.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type="checkbox"]:checked + span {
  background-color: var(--bg);
  border-color: var(--teal);
}
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle {
  background-color: var(--bg);
  color: var(--teal);
  transition-property: background-color , border-color , box-shadow;
  transition-duration: 750ms;
}
.oo-ui-dropdownWidget-handle {
  border: 1px solid var(--teal);
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
  color: var(--bg);
  background-color: var(--teal);
  border-color: var(--teal);
}
.oo-ui-buttonElement-framed.oo-ui-widget-enabled .oo-ui-buttonElement-button {
  color: var(--teal);
  background-color: var(--bg);
  border-color: var(--teal);
}
.oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle {
  color: var(--teal);
  text-shadow: 0 1px 1px var(--teal);
  border-color: var(--teal);
  background-color: var(--bg);
}

/* SYNTAX EDITOR */
.CodeMirror {
  background: var(--bg);
  font-family: 'Aldrich';
  color: var(--teal);
}
.CodeMirror-gutters {
  border-right: 1px solid var(--teal);
  background-color: #033;
}
.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button {
  border-color: var(--bg);
  border-style: solid;
  background-color: var(--teal);
}

/* MANAGEWIKI STYLING */
#managewiki .managewiki-submit-formfields {
  border-top: 1px solid var(--teal);
  background: var(--bg);
}

/* WIKITABLE FIX */
@media screen {
  .wikitable > tr > th, .wikitable > * > tr > th {
    color: #fff;
    text-align: center;
  }
}

/* IRC CHAT */
#mwchat-container {
  border: 3px solid var(--teal);
}
#mwchat-topic {
  border-bottom: 1px solid var(--bg);
}
.mwchat-item-timestamp.real {
  background-color: var(--bg);
}
#mwchat-options {
  border-top: 1px solid var(--bg);
  display: none;
}
#mwchat-me {
  display: none;
}
#mwchat-type input {
  background-color: var(--bg);
  border: 3px solid var(--teal);
  color: var(--teal);
  font-family: aldrich;
  width: 98.8%;
}
.mwchat-useritem {
	background-color: var(--bg);
}
.mwchat-useritem-header {
	background-color: var(--teal) !important;
}
.mwchat-useritem-content {
  border-left: 3px var(--teal) solid;
}
.mwchat-useritem input {
  font-family: aldrich;
  color: var(--teal);
  background-color: var(--bg);
  border-color: var(--teal);
}
.mwchat-avatar-replacement {
  color: var(--bg);
}

/* SEARCH BAR PREVIEW IMAGES */
.cdx-thumbnail__image {
	border-color: var(--teal);
	border-radius: 0px;
}
.cdx-thumbnail__placeholder {
	background-color: var(--bg);
	border-color: var(--teal);
	border-radius: 0px;
}
.cdx-thumbnail__placeholder__icon--vue.cdx-icon {
  color: var(--teal);
  background-color: var(--bg);
}

/* EDIT SECTION FONT */
@media screen {
  .mw-editsection, .mw-editsection-like {
    font-family: aldrich;
  }
}

/* CLEAR ICON */
.oo-ui-indicator-clear {
    background-image: url(https://static.miraheze.org/tnowiki/e/e1/CrossSign.png);
}

/* SCROOL FIX */

.vector-sticky-pinned-container {
overflow: hidden;
}

/* RANDOM CONTAINER FIX */
.oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input {
    background-color: var(--bg);
    -webkit-text-fill-color: #72777d;
    color: var(--teal);
    text-shadow: 0 1px 1px #fff;
    border-color: var(--teal);
}

.oo-ui-messageDialog-message {
    font-size: 1.1em;
    color: var(--teal);
    text-align: left;
}
.oo-ui-windowManager-modal:not(.oo-ui-windowManager-size-full) > .oo-ui-dialog > .oo-ui-window-frame {
    top: 1em;
    bottom: 1em;
    max-height: 100%;
    max-height: calc(100% - 2em);
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(34 255 245);
    border-color: var(--teal);
}
.cdx-button:enabled, .cdx-button.cdx-button--fake-button--enabled {
    background-color: var(--background-color-interactive-subtle, #f8f9fa);
    color: var(--color-base, #202122);
    border-color: #4DB6B0;
    border-radius: 0;
}
#footer-icons a {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #202d3b;
}

.mw-widget-calendarWidget-item-selected {
    background-color: var(--box-shadow-color-progressive-selected, #36c);
    color: #101418;
}
.oo-ui-messageDialog-content > .oo-ui-window-foot {
    outline: 2px solid #4db6b0;
}
.oo-ui-messageDialog-actions-horizontal .oo-ui-actionWidget {
    border-right: 2px solid #4db6b0;
    margin: 0;
}
