/* All CSS here will be loaded for users of the Citizen skin */
/* Code derived under CC BY-SA license from:
 * - TNOPediA
 *
 * Từ BKDatabase - Blutiges Kareuz: The Decline of The Millennium | Database
 * The Great Trial Await...
 *
*/
/* Use the TNO font */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url(https://static.miraheze.org/tnowiki/8/83/Aldrich.woff2) format('woff2');
}

html, body {
  font-family: Aldrich;
}
/* Tiles */
 
.tiles {
	border-spacing: 0;
	margin: 0 auto;
	max-width: 750px;
	table-layout: fixed;
	width: 98%;
}
 
.tiles td {
	box-shadow: 0 0 10px #000;
	outline: 1px solid #000;
	position: relative;
}
 
.tiles td > div {
	height: 150px;
	overflow: hidden;
}
 
.tiles__description a {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	color: #fff !important;
	display: flex;
	font-size: 24px;
	font-weight: bold;
	justify-content: center;
	left: 0;
	height: 100%;
	max-height: 100%;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #000, 2px 1px 0 #000, 1px 2px 0 #000, 2px 2px 0 #000, 3px 3px 4px #000;
	text-transform: uppercase;
	z-index: 1;
}
 
.tiles td:hover .tiles__description a {
	background-color: rgba(0, 0, 0, 0.8);
	max-height: 35px;
	transition: background-color 0.5s, max-height 0.5s;
}
:root {
  --bg-color: #061016;
  --text-color: white;
  --link-color: #4DB6B0;
  --link-new-color: #E08282;
  --border-color: white;
}

/* Use the TNO font */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url(https://static.miraheze.org/tnowiki/8/83/Aldrich.woff2) format('woff2');
}

/* bg-color */
.vector-feature-zebra-design-disabled #vector-main-menu-pinned-container .vector-main-menu,
.vector-feature-zebra-design-disabled .vector-toc {
  background-color: var(--bg-color);
}

/* menu left margin */
.vector-feature-zebra-design-disabled.vector-feature-limited-width-clientpref-1 .mw-page-container,
.vector-feature-zebra-design-disabled .vector-header-container {
  max-width: none;
}
.vector-feature-zebra-design-disabled.vector-feature-limited-width-clientpref-1 .vector-header-container ,
.vector-feature-zebra-design-disabled .vector-header-container {
  max-width: none;
}
/* content width */
.vector-feature-zebra-design-disabled.vector-feature-limited-width-clientpref-1 .mw-body {
  grid-template-columns: minmax(0, 1fr) min-content
}

/* Thermerite testing here: By removing the bgcolor proprety from this class, the wiki will read the other mw-page-container class FROM the CSS instead of the skin */
@media screen {
  .vector-feature-zebra-design-disabled .mw-page-container {
    position: relative;
    z-index: 0;
    padding-top: 0.05px;
    padding-bottom: 0.05px;
    max-width: 99.75em;
    min-width: 31.25em;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #061016;
    box-sizing: border-box
  }

  .vector-feature-zebra-design-disabled body {
    background-color: #061016;
    color: #202122
  }
  
  .vector-pinned-container {
  	background-color: #061016;
  }
  
  .vector-header-container .mw-header, .vector-header-container .vector-sticky-header {
	background-color: #061016;	
  }

  .vector-feature-zebra-design-disabled .vector-header-container {
    max-width: 99.75em;
    min-width: 31.25em;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #131e25;
    box-sizing: border-box
  }

  /*Category Box */
  .catlinks {
    background-color: #061016;
    border: 1px solid #91e2dd;
  }

  /*Namespace Font*/
  .mw-body h1,
  .mw-body-content h1,
  .mw-body-content h2 {
    font-family: 'Aldrich';
  }

  /*Namespace Font in Sticky Header*/
  .vector-feature-zebra-design-disabled .vector-sticky-header-context-bar-primary {
    font-family: 'Aldrich';
  }

  /*Namespace Font Color in Sticky Header*/
  .vector-feature-zebra-design-disabled body {
    color: white;
  }

  /* Image Caption Background */
  figure[typeof~="mw:File/Thumb"]>figcaption,
  figure[typeof~="mw:File/Frame"]>figcaption {
    border: 0px solid #c8ccd1;
    background-color: #061016;
  }
  
  /*Babel*/
 .mw-content-ltr .mw-babel-wrapper {
 	background-color: var(--bg-color);
 	border: 1px solid #4DB6B0;
 }

}

.mw-babel-box table {
    color: black;
}

/* Visual Editor */
.ve-ui-mwSaveDialog-options {
  background-color: var(--bg-color);
}

.oo-ui-fieldsetLayout {
  background-color: var(--bg-color);
}

.oo-ui-indexLayout-stackLayout>.oo-ui-panelLayout {
  background-color: var(--bg-color);
}

.oo-ui-window-head,
.oo-ui-window-foot {
  background-color: var(--bg-color);
}

.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget .oo-ui-labelElement-label {
  color: var(--text-color);
}

.oo-ui-tabSelectWidget-framed .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
  background-color: var(--bg-color);
}

.ve-ui-contextItem {
  background-color: var(--bg-color);
}

.oo-ui-tabSelectWidget-framed {
  background-color: var(--bg-color);
}

.oo-ui-popupWidget-popup {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.diff-deletedline .diffchange {
  background: #a47300;
}

.diff-addedline .diffchange {
  background: #00488c;
}

.oo-ui-menuLayout.oo-ui-menuLayout-showMenu.oo-ui-menuLayout-before>.oo-ui-menuLayout-menu {
  background-color: var(--bg-color);
}

.oo-ui-menuLayout.oo-ui-menuLayout-showMenu.oo-ui-menuLayout-before>.oo-ui-menuLayout-content {
  background-color: var(--bg-color);
}

.ve-ui-mwTransclusionDialog-single-transclusion .ve-ui-mwTransclusionOutlineWidget .ve-ui-mwTransclusionOutlinePartWidget .ve-ui-mwTransclusionOutlineTemplateWidget-sticky {
  background-color: var(--bg-color);
}

.ve-ui-mwSaveDialog-license {
  color: var(--text-color);
}

.oo-ui-panelLayout-padded {
  background-color: var(--bg-color);
}

/* File things */

#filetoc {
  background-color: var(--bg-color);
}

.mw_metadata td {
  background-color: var(--bg-color);
}

.mw_metadata th {
  background-color: var(--bg-color);
}

table.commons-file-information-table,
.fileinfotpl-type-information,
.fileinfotpl-type-artwork {
  background-color: var(--bg-color);
}

.mw-content-ltr.mw-highlight-lines pre,
.mw-content-ltr.content .mw-highlight-lines pre {
  box-shadow: inset 2.75em 0 0 #061016;
}

.mw-datatable th {
  background-color: var(--bg-color);
}

.mw-datatable td {
  background-color: var(--bg-color);
}

.mw-datatable tr:hover td {
  background-color: var(--bg-color);
}

.vector-feature-zebra-design-disabled .vector-dropdown .vector-dropdown-content {
  position: absolute;
  top: 100%;
  left: -1px;
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  margin: 0;
  padding: 4px 0;
  z-index: 50;
  background-color: #211e1e;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  transition-property: opacity;
  transition-duration: 100ms;
  width: max-content;
  max-width: 200px;
}

/* Overrides default mediawiki colors and applies the dark bg and white text */
body,
h1,
h2,
h3,
h4,
h5,
h6,
.vector-pinnable-header-label,
.vector-feature-page-tools-enabled .vector-pinnable-element .vector-menu-heading,
.vector-dropdown-content .vector-menu-heading,
.footer,
.footer-navigation,
.footer-info,
.mw-footer li,
.mw-page-container,
.vector-feature-page-tools-enabled #vector-main-menu-pinned-container .vector-main-menu {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Aldrich', sans-serif;
}

.mw-page-title-main {
  font-family: 'Aldrich', sans-serif;
}

/*Bullet list coloring*/
::marker {
    color: #4db6b0;
}

ul {
    list-style-image: none;
}


/*Infobox collapsable stylying*/
pre,
.mw-code {
  padding: 0;
  white-space: pre-wrap;
  overflow-x: hidden;
  word-wrap: break-word;
}

mw-collapsible-content,
pre,
code,
.mw-code {
  background-color: #212b2a00;
  color: #c9c9c9;
  border: 1px solid #4DB6B0;
}

/* Make this text white */
#firstHeadingTitle .mw-page-title-main,
.vector-sticky-header-context-bar-primary .mw-page-title-main,
figcaption {
  color: var(--text-color);
  background-color: #061016;
}

/* Popup Preview */
.mwe-popups .mwe-popups-extract {
	background-color: var(--bg-color);
}

.mwe-popups-container {
	background-color: var(--bg-color);
}

.mwe-popups .mwe-popups-container {
	background-color: var(--bg-color);
}
/* Tabs */
.tabber__header {
	border-bottom: 3px solid #3FB9BE;
	box-shadow: #3FB9BE; }
.tabber__tab {
	padding: 0.4em 0.75em; }
/* Selected tab */
.tabber {
	--tabber-color-progressive: #4DB6B0 !important; 
}
.tabber__tab[aria-selected="true"], .tabber__tab[aria-selected="true"]:visited {
	background: #3FB9BE;
	height: -2.5px;
	color: #061016 !important; }
.tabber__tab[aria-selected="true"]:hover {
	text-shadow: white;
	cursor: default; }

.tabber__indicator {
	background-color: #4db6b0 !important;
}
/* Search Box */

.cdx-menu {
  background-color: var(--bg-color);
  border: 1px solid var(--link-color);
}

.cdx-menu-item--enabled.cdx-menu-item--highlighted {
  background-color: var(--bg-color);
}

/* Sticky Header */
.vector-sticky-header {
  background-color: #061016;
}

/* Wikitables or Tables */
.wikitable {
  background-color: #061016;
  color: #ffffff;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse
}

.wikitable>tr>th,
.wikitable>*>tr>th {
  background-color: #161616;
}

/* Change the color of all of the links and add a glow effect */
a {
  color: var(--link-color) !important;
  text-shadow: 0 0 3px rgba(34, 200, 247, 0.8);
}

a.new {
  color: var(--link-new-color) !important;
  text-shadow: 0 0 3px rgba(224, 130, 130, 0.8);
}

indo

/*  */
.mw-normal-catlinks>ul>li>a,
.mw-normal-catlinks>a {
  color: var(--link-color) !important;
}

/* Removes the fade effect from all elements */
*::after {
  display: none !important;
}

/* Slideshows or Slide Show buttons Stylying */
.oo-ui-buttonElement-frameless.oo-ui-iconElement>.oo-ui-buttonElement-button {
  min-width: 32px;
  min-height: 32px;
  border-color: #bfddff;
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
  padding-top: 2.14285714em;
  padding-left: 2.14285714em;
}

/* Table of Contents styles */
.vector-toc {
  background-color: var(--bg-color);
  border: 0px solid var(--border-color);
}

/* Search bar styles */
.cdx-text-input__input,
.client-js .vector-search-box-vue .vector-typeahead-search .cdx-text-input__input {
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;	
	color: #4db6b0;
}

.cdx-search-input__end-button,
.client-js .vector-search-box-vue .vector-typeahead-search .cdx-search-input__end-button {
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;	
	color: #4db6b0 !important;
}
.mw-search-profile-tabs {
	background-color: #0d2024;
	background-clip: content-box;
	border: 1px #0d2024;
	border-image: url(https://static.miraheze.org/tnowiki/0/05/Border-gallerybox.webp) 40 / 40px round;	
	color: #4db6b0;
}
button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mw-ui-button {
  filter: invert(100%) !important;
}

.oo-ui-popup {
  background-color: var(--bg-color);
}

/*****Custom cursor *****/
/*Global cursor */
body {
  cursor: url('/wiki/Special:FilePath/BKCursor.png'), pointer;
}

/*Link cursor */
a:hover {
  cursor: url('/wiki/Special:FilePath/BKHover.png'), pointer;
}

/* Infobox template style */
.infobox {
  border: 1px solid #4DB6B0;
  border-spacing: 3px;
  background-color: #171D22;
  color: #4DB6B0;
  /* @noflip */
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  /* @noflip */
  float: right;
  /* @noflip */
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
}

.infobox caption {
  font-size: 125%;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
}

.infobox td,
.infobox th {
  vertical-align: top;
  /* @noflip */
  text-align: left;
}

.infobox.bordered {
  border-collapse: collapse;
}

.infobox.bordered td,
.infobox.bordered th {
  border: 1px solid #4DB6B0;
}

.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
  border: 0;
}

.infobox.sisterproject {
  width: 20em;
  font-size: 90%;
}

.infobox.standard-talk {
  border: 1px solid #4DB6B0;
  background-color: #061016;
}

.infobox.standard-talk.bordered td,
.infobox.standard-talk.bordered th {
  border: 1px solid #4DB6B0;
}

/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
  border: 0;
  border-top: 1px solid #4DB6B0;
  /* @noflip */
  border-right: 1px solid #4DB6B0;
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
  border: 0;
  /* @noflip */
  border-right: 1px solid #4DB6B0;
}

/* Styles for geography infoboxes, eg countries,
   country subdivisions, cities, etc.            */
.infobox.geography {
  border-collapse: collapse;
  line-height: 1.2em;
  font-size: 90%;
}

.infobox.geography td,
.infobox.geography th {
  border-top: 1px solid #a2a9b1;
  padding: 0.4em 0.6em 0.4em 0.6em;
}

.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {
  border-top: 1px solid #a2a9b1;
  padding: 0.4em 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedrow td,
.infobox.geography .mergedrow th {
  border: 0;
  padding: 0 0.6em 0.2em 0.6em;
}

.infobox.geography .mergedbottomrow td,
.infobox.geography .mergedbottomrow th {
  border-top: 0;
  border-bottom: 1px solid #a2a9b1;
  padding: 0 0.6em 0.4em 0.6em;
}

.infobox.geography .maptable td,
.infobox.geography .maptable th {
  border: 0;
  padding: 0;
}

/* See: https://github.com/StarCitizenTools/mediawiki-extensions-TabberNeue/issues/46 */
.tabber__section pre {
  display: none;
}

/* Default style for navigation boxes */
.navbox {
  /* Navbox container style */
  box-sizing: border-box;
  border: 1px solid #4DB6B0;
  width: 100%;
  clear: both;
  font-size: 88%;
  text-align: center;
  padding: 1px;
  margin: 1em auto 0;
  /* Prevent preceding content from clinging to navboxes */
}

.navbox .navbox {
  margin-top: 0;
  /* No top margin for nested navboxes */
}

.navbox+.navbox {
  margin-top: -1px;
  /* Single pixel border between adjacent navboxes */
}

.navbox-inner,
.navbox-subgroup {
  width: 100%;
}

.navbox-group,
.navbox-title,
.navbox-abovebelow {
  padding: 0.25em 1em;
  /* Title, group and above/below styles */
  line-height: 1.5em;
  text-align: center;
}

th.navbox-group {
  /* Group style */
  white-space: nowrap;
  /* @noflip */
  text-align: right;
}

.navbox,
.navbox-subgroup {
  background-color: #151D23;
  /* Background color */
}

.navbox-list {
  line-height: 1.5em;
  border-color: #151D23;
  /* Must match background color */
}

/* cell spacing for navbox cells */
tr+tr>.navbox-abovebelow,
tr+tr>.navbox-group,
tr+tr>.navbox-image,
tr+tr>.navbox-list {
  /* Borders above 2nd, 3rd, etc. rows */
  border-top: 2px solid #151D23;
  /* Must match background color */
}

.navbox th,
.navbox-title {
  background-color: #151D23;
  /* Level 1 color */
}

.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup .navbox-title {
  background-color: #91E2DD;
  /* Level 2 color */
}

.navbox-subgroup .navbox-group,
.navbox-subgroup .navbox-abovebelow {
  background-color: #91E2DD;
  /* Level 3 color */
}

.navbox-even {
  background-color: #3B5263;
  /* Even row striping */
}

.navbox-odd {
  background-color: #151D23;
  /* Odd row striping */
}

.navbox .hlist td dl,
.navbox .hlist td ol,
.navbox .hlist td ul,
.navbox td.hlist dl,
.navbox td.hlist ol,
.navbox td.hlist ul {
  padding: 0.125em 0;
  /* Adjust hlist padding in navboxes */
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #4DB6B0;
}

::-webkit-scrollbar-thumb:hover {
  background: #4DB6B0 !important;
}

::-webkit-scrollbar-thumb:active {
  background: #4DB6B0 !important;
}

/* Image frame fix */
figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:File/Frame"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"],
  [typeof~="mw:Image/Frame"],
  [typeof~="mw:Video/Frame"],
  [typeof~="mw:Audio/Frame"]),
figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:File/Frame"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"],
  [typeof~="mw:Image/Frame"],
  [typeof~="mw:Video/Frame"],
  [typeof~="mw:Audio/Frame"])> :is(a, span):first-child>*:first-child:not(.mw-broken-media),
div.thumbinner,
.gallerytext {
  background-color: #171D22;
  border: #4DB6B0;
  color: var(--theme-secondary);
}

figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:File/Frame"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"],
  [typeof~="mw:Image/Frame"],
  [typeof~="mw:Video/Frame"],
  [typeof~="mw:Audio/Frame"])>figcaption,
.thumbcaption {
  height: unset !important;
  min-width: 16ch;
  width: unset !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.gallerytext {
  background-color: #171D22;
  border: #4DB6B0;
  color: #4DB6B0;
  font: 400 .75rem/1.25rem var(--font-body-sans-serif);
  letter-spacing: .0333333333em;
}

figure:is([typeof~="mw:File/Thumb"],
  [typeof~="mw:Image/Thumb"],
  [typeof~="mw:Video/Thumb"],
  [typeof~="mw:Audio/Thumb"]):not([typeof~="mw:Error"])>a::after {
  content: unset;
}

.mw-parser-output .gallery {
  text-align: center;
}

.mw-parser-output .gallery .gallerybox {
  margin: 0 !important;
  vertical-align: middle;
  width: unset !important;
  width: -moz-min-content !important;
  width: min-content !important;
}

.mw-parser-output .gallery .thumb {
  height: unset !important;
  min-width: 16ch;
  width: unset !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.mw-content-ltr ul.gallery {
  margin: 10px;
}

li.gallerybox div.thumb {
  border: 1px #4DB6B0;
  background-color: rgb(var(--theme-background-secondary));
}
.infobox hr {
    background-color: #4db6b0;
}
hr {
    background-color: #62b2c0;
}
.popups-icon--settings {
    background-image: url(https://static.miraheze.org/tnowiki/5/5e/Settingsbutton.png);
}
.mw-ui-icon-wikimedia-expand {
    background-image: url(https://static.miraheze.org/tnowiki/3/38/Wikimediaexpand.png) !important;
}
/* Alerts */
.vector-icon.mw-ui-icon-wikimedia-bell {
    background-image: url(https://static.miraheze.org/tnowiki/7/74/Notifications.png);
}

/* Notices */
.vector-icon.mw-ui-icon-wikimedia-tray {
    background-image: url(https://static.miraheze.org/tnowiki/4/46/Specialnotifications.png);
}

/* List */
.vector-icon.mw-ui-icon-wikimedia-watchlist {
    background-image: url(https://static.miraheze.org/tnowiki/6/6c/Watchpagelist.png);
}

/* User options */
.vector-icon.mw-ui-icon-wikimedia-userAvatar {
    background-image: url(https://static.miraheze.org/tnowiki/9/98/Userbutton.png);
}

/* Watchlist */
.vector-icon.mw-ui-icon-wikimedia-star {
    background-image: url(https://static.miraheze.org/tnowiki/e/ec/Watchpageempty.png);
}

/* Watchlist On */
.vector-icon.mw-ui-icon-wikimedia-unStar {
    background-image: url(https://static.miraheze.org/tnowiki/d/d7/Watchpagefull.png);
}

/* Watchlist Half */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/7d/Watchpagehalf.png);
}
.mw-header.vector-header {
	background-color: #031f1f;
}
/* Notification Progressive */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/79/Tnoprognotification.png);
}
/* Settings */
.vector-icon.mw-ui-icon-wikimedia-settings {
    background-image: url(https://static.miraheze.org/tnowiki/5/5e/Settingsbutton.png);
}
/* UserTalk */
.vector-icon.mw-ui-icon-wikimedia-userTalk {
    background-image: url(https://static.miraheze.org/tnowiki/b/bc/Usertalk.png);
}
/* Contributions */
.vector-icon.mw-ui-icon-wikimedia-userContributions {
    background-image: url(https://static.miraheze.org/tnowiki/7/70/Contributionsicon.png);
}
/* Flask */
.vector-icon.mw-ui-icon-wikimedia-labFlask {
    background-image: url(https://static.miraheze.org/tnowiki/e/e6/Erlenmeyerflask.png);
}
/* Logout */
.vector-icon.mw-ui-icon-wikimedia-logOut {
    background-image: url(https://static.miraheze.org/tnowiki/6/62/Logout.png);
}
/* Elipsis */
.vector-icon.mw-ui-icon-wikimedia-elipsis {
    background-image: url(https://static.miraheze.org/tnowiki/d/da/Three-dots.png);
}
/* Search */
.vector-icon.mw-ui-icon-wikimedia-search {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
.cdx-text-input__icon.cdx-text-input__start-icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
/* Search icon in both unfocused and focused */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue, .cdx-search-input .cdx-text-input__icon.cdx-text-input__start-icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}

/* Search field footer */
.cdx-typeahead-search__search-footer__icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Hide original svg icons for both */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue > *, .cdx-typeahead-search__search-footer__icon > * {
    display: none;
}
.cdx-button.cdx-button--icon-only.vector-limited-width-toggle {
	display: none;
}
/* Alerts */
.vector-icon.mw-ui-icon-wikimedia-bell {
    background-image: url(https://static.miraheze.org/tnowiki/7/74/Notifications.png);
}

/* Notices */
.vector-icon.mw-ui-icon-wikimedia-tray {
    background-image: url(https://static.miraheze.org/tnowiki/4/46/Specialnotifications.png);
}

/* List */
.vector-icon.mw-ui-icon-wikimedia-watchlist {
    background-image: url(https://static.miraheze.org/tnowiki/6/6c/Watchpagelist.png);
}

/* User options */
.vector-icon.mw-ui-icon-wikimedia-userAvatar {
    background-image: url(https://static.miraheze.org/tnowiki/9/98/Userbutton.png);
}

/* Watchlist */
.vector-icon.mw-ui-icon-wikimedia-star {
    background-image: url(https://static.miraheze.org/tnowiki/e/ec/Watchpageempty.png);
}

/* Watchlist On */
.vector-icon.mw-ui-icon-wikimedia-unStar {
    background-image: url(https://static.miraheze.org/tnowiki/d/d7/Watchpagefull.png);
}

/* Watchlist Half */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/7d/Watchpagehalf.png);
}

/* Notification Progressive */
.vector-icon.mw-ui-icon-wikimedia-halfStar {
    background-image: url(https://static.miraheze.org/tnowiki/7/79/Tnoprognotification.png);
}
/* Settings */
.vector-icon.mw-ui-icon-wikimedia-settings {
    background-image: url(https://static.miraheze.org/tnowiki/5/5e/Settingsbutton.png);
}
/* UserTalk */
.vector-icon.mw-ui-icon-wikimedia-userTalk {
    background-image: url(https://static.miraheze.org/tnowiki/b/bc/Usertalk.png);
}
/* Contributions */
.vector-icon.mw-ui-icon-wikimedia-userContributions {
    background-image: url(https://static.miraheze.org/tnowiki/7/70/Contributionsicon.png);
}
/* Flask */
.vector-icon.mw-ui-icon-wikimedia-labFlask {
    background-image: url(https://static.miraheze.org/tnowiki/e/e6/Erlenmeyerflask.png);
}
/* Logout */
.vector-icon.mw-ui-icon-wikimedia-logOut {
    background-image: url(https://static.miraheze.org/tnowiki/6/62/Logout.png);
}
/* Search */
.vector-icon.mw-ui-icon-wikimedia-search {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}
/* Search icon in both unfocused and focused */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue, .cdx-search-input .cdx-text-input__icon.cdx-text-input__start-icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
}

/* Search field footer */
.cdx-typeahead-search__search-footer__icon {
    background-image: url(https://static.miraheze.org/tnowiki/f/fe/Searchicon.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Hide original svg icons for both */
.cdx-text-input__input:enabled~.cdx-text-input__icon-vue > *, .cdx-typeahead-search__search-footer__icon > * {
    display: none;
}
.vector-limited-width-toggle {
    display: none;
}
.vector-sticky-header-container {
    display: none !important;
}
.vector-pinnable-header-toggle-button {
    display: none !important;
}
.vector-icon.mw-ui-icon-wikimedia-speechBubbleAdd {
    background-image: url(https://static.miraheze.org/tnowiki/2/23/Talk_Page.webp);
}
.vector-icon.mw-ui-icon-wikimedia-speechBubbleAdd-progressive {
    background-image: url(https://static.miraheze.org/tnowiki/2/23/Talk_Page.webp);
}
/* Editor */
.mw-editfont-monospace {
	color: #4DB6B0;
	background-color: #061016;
}
/* Wikibase */
.wikibase-entitytermsview .wikibase-toolbar-container,
.wikibase-entitytermsview .wikibase-toolbar-container .wikibase-toolbar-container {
	background: none !important;
}

.wikibase-statementgrouplistview .wikibase-statementgroupview-property,
.wikibase-statementgrouplistview .wikibase-statementlistview,
.wikibase-statementview div.thumb img,
.wikibase-statementview div.thumb audio,
.wikibase-statementview div.thumb video,
.wb-propertypage .wikibase-propertyview-datatype,
.ui-widget .ui-suggester-list,
.wikibase-entitytermsforlanguagelistview,
.wikibase-entitytermsforlanguagelistview-header {
	background: #061016 !important;
}

.wikibase-statementview {
	border-bottom: 1.5px solid #4DB6B0 !important;
}

.wikibase-statementgrouplistview .wikibase-statementgroupview-property,
.wikibase-statementgrouplistview .wikibase-statementgroupview-property.wb-edit,
.valueview-ineditmode .valueview-input,
.wikibase-statementgroupview-property.wb-edit,
.wikibase-entitysearch-list .wb-entitysearch-suggestions,
.wikibase-entitytermsforlanguagelistview {
	background-color: #061016 !important;
}

.wikibase-statementgrouplistview .wikibase-statementlistview,
.ui-suggester-list {
	background-color: #061016 !important;
	border-radius: 0px solid 8px solid 8px 0px !important;
}

.wikibase-statementlistview .wikibase-toolbar-wrapper,
.wb-propertypage .wikibase-propertyview-datatype {
	background-color: #061016 !important;
}

.wb-propertypage .wikibase-propertyview-datatype,
.wikibase-entitysearch-list .wb-entitysearch-suggestions {
	border-radius: solid 8px !important;
}
.ui-suggester-list a,
.ui-widget.ui-suggester-list,
.suggestions-special .special-query,
.suggestions-special .special-label {
	color: #99aacc;
}

.mw-echo-notifications-badge,
.wikibase-toolbar-button .wb-icon,
.skin-vector-legacy #pt-uls .uls-trigger::before,
.vector-menu-dropdown .vector-menu-heading::after {
	filter: invert(1) !important;
}

.vector-menu-tabs-legacy li {
	background-image: unset !important;
}

.vector-menu-portal .vector-menu-heading,
.vector-menu-dropdown .vector-menu-heading{
	color: white;
}

.wikibase-entitytermsforlanguagelistview .wikibase-entitytermsforlanguagelistview-header .wikibase-entitytermsforlanguagelistview-header-row .wikibase-entitytermsforlanguagelistview-cell {
	background-color: #061016 !important;
	border-right-color: #061016 !important;
}
