/* Mã CSS tại đây sẽ chỉ ảnh hưởng đến các thành viên có tài khoản */
/* Hiện các mục ẩn có class="anonymous-show". */
.anonymous-show {
  display: none !important;
}

div.user-show,
p.user-show {
  display: block !important;
}

span.user-show,
small.user-show {
  display: inline !important;
}

table.user-show {
  display: table !important;
}

li.user-show {
  display: list-item !important;
}
